tqdm=4.66.1=pypi_0
nest-asyncio=1.5.8=pyhd8ed1ab_0
numpy=1.24.1=pypi_0
typing-extensions=4.12.2=pypi_0
typing_extensions=4.9.0=pyha770c72_0
openai=1.52.1=pypi_0
openpyxl=3.1.5=pypi_0
openssl=3.0.12=h7f8727e_0
python=3.8.18=h955ad1f_0
python-dateutil=2.8.2=pyhd8ed1ab_0
python-dotenv=1.0.1=pypi_0
python-graphviz=0.20.1=pypi_0
python-liquid=1.1.2=pypi_0
python-multipart=0.0.9=pypi_0
python_abi=3.8=2_cp38
pytorch-lightning=2.4.0=pypi_0
torch=2.0.0=pypi_0
torch-geometric=2.4.0=pypi_0
torch-scatter=2.1.2=pypi_0
torch-sparse=0.6.18=pypi_0
torchaudio=2.2.2=pypi_0
torchmetrics=1.2.0=pypi_0
torchvision=0.15.1+cu118=pypi_0
faiss-cpu==1.7.4
python-liquid
openai
langchain
tqdm==4.66.1
transformers==4.44.2
sentence_transformers==2.2.2
pyserini==0.22.1
tiktoken==0.6.0
datasets==2.16.1
